body {
  transition: all 200ms;

  @include media-breakpoint-up(sm) {
  }

  @include media-breakpoint-up(md) {
  }

  @include media-breakpoint-up(lg) {
  }

  @include media-breakpoint-up(xl) {
  }

  @include media-breakpoint-up(xxl) {
  }

}
.custom-container-md{
  @include make-container-md();
  @include media-breakpoint-down(md) {
    padding-left: 12px;
    padding-right: 12px;
  }
}
section{
  padding: 90px 0;
  border-bottom: 1px solid rgb(113 113 113 / 41%);
  @include media-breakpoint-down(md) {
    padding: 50px 0;
  }
}

